{
	"parser": "esprima",
	"extends": [
		"eslint:recommended",
		"plugin:node/recommended",
		"plugin:prettier/recommended",
		"plugin:jsdoc/recommended"
	],
	"rules": {
		"linebreak-style": [
			"error",
			"unix"
		],
		"no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "^_"
			}
		]
	}
}